body {
    background-color:#e7c0f51f;
}

nav li {
    display: inline;
}

nav a{
    text-transform: uppercase;
    color: rgb(255, 0, 221);
    background-color: #fcf815;
}

.texto-principal {
    margin-right: 20%;
}

h1 {
    color: #fd0256;
    text-align: center;
}
h2 {
    color: rgb(6, 247, 247);
}
p {
    color: rgba(0, 255, 21, 0.705);

}
#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted rgb(101, 55, 122);
    float: left;
    position: absolute;
}

.itens {
    color:  #5F9EA0;
    text-decoration: underline;
}
.texto-principal {
    margin-right: 20%;
}