body {
    background-color:#c757f0e5;
}

nav li {
    display: inline;
}

nav a{
    text-transform: uppercase;
    color: rgba(29, 212, 22, 0.87);
    background-color: #fcf815d8;
}

.texto-principal {
    margin-right: 20%;
}

h1 {
    color: #fd0256;
    text-align: center;
}
h2 {
    color: rgb(6, 247, 247);
}
p {
    color: rgba(173, 14, 102, 0.795);

}
#imagem-principal {
    width: 15%;
    margin-left: 50%;
    border: 5px dotted rgb(101, 55, 122);
    float: left;
    position: absolute;
}

.itens {
    color:  #5F9EA0;
    text-decoration: underline;
}
.texto-principal {
    margin-right: 20%;
}